*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html
{
    background-image: url(../assert/background.png);
    height: 100%;
    background-position: center;
    background-size: cover;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.xacthuc
{
    position: relative;
    margin: 50px auto;
    width: 200px;
    font-family: 'Segoe UI', sans-serif;
    color: #ccc;
}
.xacthuc input[type="text"]
{
    font-size: 20px;
    width: 100%;
    border: none;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}
.xacthuc .label
{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;  
}
.xacthuc .underline
{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #333;
    transform: scaleX(0);
    transition: all 0.3s ease;  
}
.xacthuc input[type="text"]:focus ~ .label,
.xacthuc input[type="text"]:valid ~ label
{
    top: -20px;
    font-size: 16px;
    color: #333;  
}
.xacthuc input[type="text"]:focus ~ .underline,
.xacthuc input[type="text"]:focus ~ .underline
{
    transform: scaleX(1);
}
